#!/usr/bin/env xdg-open
[Desktop Entry]
Version=x
Name=apiutaller
Encoding=UTF-8
Comment=An application installer and uninstaller made using Python3
Path=/usr/local/bin/apiutaller
Exec=pkexec python3 /usr/bin/apiutaller
Icon=/usr/local/bin/apiutaller/icon.png
Terminal=true
Type=Application
Categories=System;
